{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% if error %}
<p class="error"><strong>Error:</strong>{{ error }}</p>
{% endif %}

<form action="" method="post"
      class="form-search" role="form">

    <div class="control-group">
        <div class="controls">
<div class="input-append">
    <input class="span2 search-query" id="search" name="search" required type="text" value=""
           placeholder="Search for...." >
    <span class="add-on">
        <i class="icon-search"></i>
        </span>
    </div>
        </div>
        </div>
    <div>
    <button class="btn btn-default" id="submit" name="submit" type="submit">
        <i class="icon-search"></i>
    </button>


</div>
</form>

{% endblock %}