{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
{% if error %}
<p class="error"><strong>Error:</strong>{{ error }}</p>
{% endif %}
<br>
<form action="" method="post"
      class="form-search" role="form">

    <div class="input-append">
        <input class="span2" id="search" name="search" required type="text"
               placeholder="Search for....">

        <button class="btn btn-default" id="submit" name="submit" type="submit">
            <i class="glyphicon glyphicon-search"></i>
        </button>
    </div>
</form>

{% endblock %}